{% extends 'blog/basic.html' %}
{% block title %} My Blog {% endblock%}
{% block css %} 
<style>
  .thumb-img{
    align-items: center;
    width:fit-content ;
    height: fit-content;
    padding:auto;
    margin: auto;
  }
</style>
{% endblock%}
{% block body %}
<div class="container mt-3">
  <div class="row my-2">
      {% for item in post %}
      <div class="col-md-6">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary">
                     {{item.title}}
                  </strong>
                  <h6  class="text-primary">{{item.head0}}</h6>
                  <div class="mb-1 ">{{item.publish_date}}</div>
                  <p class="card-text mb-auto">{{item.head0_content}}</p>
                  <a href="/blog/blogpost/{{item.post_id}}" class="stretched-link">Continue reading</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                  <img src="/media/{{item.thumbnail}}" class="bd-placeholder-img thumb-img"width="333" height="151"  aria-label="Placeholder: Thumbnail">
                  <title>Placeholder</title></img>
              </div>
          </div>
      </div>
      {% if forloop.counter|divisibleby:2%}
  </div>
  <div class="row my-2">
      {%endif%}
      {%endfor%}</div>
</div>
{% endblock%}
{% block js %} {% endblock%}