{% extends 'shop/basic.html' %}
{% block title %}My Awsome cart -payment {% endblock %}
{% block body %}
<div class="container" style="margin-top: 60px;">

    <h1>Redirecting you to the merchant....</h1>
    <h1>Please do not refresh your page....</h1>
    <form action="https://securegw-stage.paytm.in/theia/processTransaction" method="post" name="paytm">
        {% for key, value in param_dict.items %}
        <input type="hidden" name="{{key}}" value="{{value}}">
        {% endfor %}

    </form>
</div>
{% endblock %}
{% block js %}
<script>
    document.paytm.submit()
</script>
{% endblock %}